# k8s/base/configmaps/application-config.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: ecommerce
data:
  eureka.uri: "http://discovery-service:8761/eureka"
  spring.profiles.active: "prod"
  logging.level.root: "INFO"
  logging.level.com.ecommerce: "DEBUG"
  
  # Database URLs (Placeholders for now, will be overridden by ExternalDNS or specifics)
  spring.datasource.url: "jdbc:mysql://mysql-service:3306/ecommerce"
  
  # External Service URLs (Internal DNS)
  service.discovery.url: "http://discovery-service:8761"
  service.gateway.url: "http://api-gateway:8080"
  service.products.url: "http://product-service:8086"
  service.orders.url: "http://order-service:8084"
  
  # Infrastructure Services (Helm Umbrella Chart)
  spring.kafka.bootstrap-servers: "infrastructure-kafka:9092"
  spring.data.mongodb.uri: "mongodb://admin:password@infrastructure-mongodb:27017/ecommerce?authSource=admin"
  spring.data.redis.host: "infrastructure-redis-master"
  spring.data.redis.port: "6379"
  opensearch.uris: "http://infrastructure-opensearch:9200"
