version: '3.9'

services:
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: productservice
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./product-service/src/main/resources/database.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - ecommerce-network

  mongodb:
    image: mongo
    volumes:
      - ./mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - ecommerce-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.3
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - ecommerce-network

  broker:
    image: confluentinc/cp-server:7.4.3
    hostname: broker
    container_name: broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: broker:29092
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONFLUENT_METRICS_ENABLE: 'true'
      CONFLUENT_SUPPORT_CUSTOMER_ID: 'anonymous'
    networks:
      - ecommerce-network

  control-center:
    image: confluentinc/cp-enterprise-control-center:7.4.3
    hostname: control-center
    container_name: control-center
    depends_on:
      - broker
    ports:
      - "9021:9021"
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
      CONTROL_CENTER_CONNECT_CONNECT-DEFAULT_CLUSTER: 'connect:8083'
      CONTROL_CENTER_KSQL_KSQLDB1_URL: "http://ksqldb-server:8088"
      CONTROL_CENTER_KSQL_KSQLDB1_ADVERTISED_URL: "http://localhost:8088"
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
      CONFLUENT_METRICS_TOPIC_REPLICATION: 1
      PORT: 9021
    networks:
      - ecommerce-network

  discovery-service:
    build:
      context: .
      dockerfile: ./discovery-service/Dockerfile
    container_name: discovery-service
    ports:
      - "8761:8761"
    networks:
      - ecommerce-network

  api-gateway:
    build:
      context: .
      dockerfile: ./api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery-service
    environment:
      - EUREKA_URI=http://discovery-service:8761/eureka
    networks:
      - ecommerce-network

  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    container_name: user-service
    ports:
      - "8088:8088"
    depends_on:
      - mysql
      - discovery-service
      - broker
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/userservice?useSSL=false
      - spring.datasource.username=${MYSQL_USER}
      - spring.datasource.password=${MYSQL_PASSWORD}
      - EUREKA_URI=http://discovery-service:8761/eureka
      - KAFKA_HOST=broker
    networks:
      - ecommerce-network

  inventory-service:
    build:
      context: .
      dockerfile: ./inventory-service/Dockerfile
    container_name: inventory-service
    ports:
      - "8082:8082"
    depends_on:
      - mysql
      - discovery-service
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/inventoryservice?useSSL=false
      - spring.datasource.username=${MYSQL_USER}
      - spring.datasource.password=${MYSQL_PASSWORD}
      - EUREKA_URI=http://discovery-service:8761/eureka
    networks:
      - ecommerce-network

  notification-service:
    build:
      context: .
      dockerfile: ./notification-service/Dockerfile
    container_name: notification-service
    ports:
      - "8083:8083"
    depends_on:
      - mongodb
      - discovery-service
      - broker
    environment:
      - spring.data.mongodb.host=mongodb
      - spring.data.mongodb.port=27017
      - EUREKA_URI=http://discovery-service:8761/eureka
      - KAFKA_HOST=broker
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASS=${MAIL_PASS}
    networks:
      - ecommerce-network

  order-service:
    build:
      context: .
      dockerfile: ./order-service/Dockerfile
    container_name: order-service
    ports:
      - "8084:8084"
    depends_on:
      - mysql
      - discovery-service
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/orderservice?useSSL=false
      - spring.datasource.username=${MYSQL_USER}
      - spring.datasource.password=${MYSQL_PASSWORD}
      - EUREKA_URI=http://discovery-service:8761/eureka
    networks:
      - ecommerce-network

  payment-service:
    build:
      context: .
      dockerfile: ./payment-service/Dockerfile
    container_name: payment-service
    ports:
      - "8085:8085"
    depends_on:
      - mysql
      - discovery-service
      - broker
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/paymentservice?useSSL=false
      - spring.datasource.username=${MYSQL_USER}
      - spring.datasource.password=${MYSQL_PASSWORD}
      - EUREKA_URI=http://discovery-service:8761/eureka
      - KAFKA_HOST=broker
    networks:
      - ecommerce-network
      
  product-service:
    build:
      context: .
      dockerfile: ./product-service/Dockerfile
    container_name: product-service
    ports:
      - "8086:8086"
    depends_on:
      - mysql
      - discovery-service
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/productservice?useSSL=false
      - spring.datasource.username=${MYSQL_USER}
      - spring.datasource.password=${MYSQL_PASSWORD}
      - EUREKA_URI=http://discovery-service:8761/eureka
      - ZIPKIN_URL=http://zipkin:9411
    networks:
      - ecommerce-network

  shipping-service:
    build:
      context: .
      dockerfile: ./shipping-service/Dockerfile
    container_name: shipping-service
    ports:
      - "8087:8087"
    depends_on:
      - mysql
      - discovery-service
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/shippingservice?useSSL=false
      - spring.datasource.username=${MYSQL_USER}
      - spring.datasource.password=${MYSQL_PASSWORD}
      - EUREKA_URI=http://discovery-service:8761/eureka
      - user-service.base-url=http://user-service:8088
    networks:
      - ecommerce-network

  angular-frontend:
    build:
      context: ./angular-frontend
    container_name: angular-frontend
    ports:
      - "4200:80"
    depends_on:
      - api-gateway
    networks:
      - ecommerce-network
  
  # Add these to the 'services' section of your docker-compose.yml

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - cluster.name=es-docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - ecommerce-network

  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.10
    container_name: logstash
    ports:
      - "5000:5000"
      - "9600:9600"
    volumes:
      - ./pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on:
      - elasticsearch
    networks:
      - ecommerce-network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.10
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
    depends_on:
      - elasticsearch
    networks:
      - ecommerce-network
  
networks:
  ecommerce-network:
    driver: bridge

volumes:
  elasticsearch_data:
  elasticsearch:
