# k8s/base/services/promotion-service-svc.yaml
apiVersion: v1
kind: Service
metadata:
  name: promotion-service
  namespace: ecommerce
spec:
  selector:
    app: promotion-service
  ports:
    - protocol: TCP
      port: 8092
      targetPort: 8092
  type: ClusterIP
